/* truncate long task text */
.task-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 30px;
  }
  
.custom-checkbox {
  width: 2rem; /* Set the desired width */
  height: 2rem; /* Set the desired height */

}


.task-list-panel {
  max-height: 60vh;
  overflow-y: auto;
  /* padding-right: 8px; Prevent scrollbar overlap */
}

/* Optional: Style scrollbar for better visual consistency */
.task-list-panel::-webkit-scrollbar {
  width: 6px;
}

.task-list-panel::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}