/* truncate long task text */
.task-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 20px;
  }
  
.custom-checkbox {
  width: 2rem; /* Set the desired width */
  height: 2rem; /* Set the desired height */

}
.task-input:active {
  background-color: red !important;
  color: aqua !important;
}

/* Keep existing :active:focus state if needed for combined states */
.task-input:active:focus {
  background-color: red !important;
  color: aqua !important;
}
